
h1{
    font-weight: 700;
    text-align: center;
    padding: 40px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    background-color: #afafaf;
    font-size: 50px;
}

h6{
    font-family: 'Maven Pro', sans-serif;
    font-style: italic;
    font-weight: normal;
    background-color: #afafaf;
    font-size: 15px;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 20px;
}

h2{
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    padding: 10px;
    background-color: #cfcfcf;
    text-align: left;
    
}

h4{
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    background-color: #e2e2e2;
    margin-inline: 20px;
    padding: 5px;
    margin-top: -10px;
}

h5{
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    background-color: #afafaf;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    margin-bottom: -20px;
}

.container{
    width: 100%;
}

.vega-bindings{
    font-family: 'Maven Pro', sans-serif;
    margin-left: 200px;
    font-size: 15px;
    margin-top: 10px;
}

p{
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.vis-container {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
}

.pure-g {
    margin-bottom: 25px;
    align-self: center;
}

.page {
    width: 1200px;
    background-color: #f5f5f5;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.description {
    margin-left: 20px;
    text-indent: 10px;
    font-size: 15px;
}

.description_high {
    color: #cb1b16;
    font-weight: 500;
}

.description_decrease {
    color: #1368aa;
    font-weight: 500;
}

.small-font {
    font-size: 14px;
}

.center {
    text-align: center;
    margin-inline: 50px;
}

.emphasise {
    font-size: 18px;
    color: #fcac98;
    font-weight: 500;
}

.decrease {
    font-size: 18px;
    color: #1368aa;
    font-weight: 500;
}

.increase {
    font-size: 18px;
    color: #cb1b16;
    font-weight: 500;
}

.africa {
    font-size: 17px;
    color: #9c6644;
    font-weight: 500;
}

.southeastasia {
    font-size: 17px;
    color: #c7a16b;
    font-weight: 500;
}

.america {
    font-size: 17px;
    color: #ce796b;
    font-weight: 500;
}

.medium {
    font-weight: 500;
}